################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAdmin/.vs/WebAdmin/FileContentIndex
/Web/.vs
/WebAdmin/.vs
/Web/bin
/Web/obj/Debug
/BusinessLogic/bin/Debug
/BusinessLogic/obj/Debug
/WebAdmin/obj/Debug/WebAdmin.pdb
/WebAdmin/obj/Debug/WebAdmin.dll
/WebAdmin/obj/Debug/WebAdmin.csproj.AssemblyReference.cache
/WebAdmin/bin/WebAdmin.pdb
/WebAdmin/bin/WebAdmin.dll
/WebAdmin/bin/BusinessLogic.pdb
/WebAdmin/bin/BusinessLogic.dll
/WebAdmin/.vs/WebAdmin/v17/DocumentLayout.json
/WebAdmin/.vs/WebAdmin/v17/DocumentLayout.backup.json
/WebAdmin/.vs/WebAdmin/v17/.suo
/WebAdmin/.vs/WebAdmin/config/applicationhost.config
/BusinessLogic/obj/Debug/BusinessLogic.pdb
/BusinessLogic/obj/Debug/BusinessLogic.dll
/BusinessLogic/bin/Debug/BusinessLogic.dll
/BusinessLogic/bin/Debug/BusinessLogic.pdb
/WebAdmin/obj/Debug/WebAdmin.csproj.CoreCompileInputs.cache
/WebAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BusinessLogic/obj/Debug/BusinessLogic.csproj.AssemblyReference.cache
