################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAdmin/.vs/WebAdmin/FileContentIndex
/Web/.vs
/WebAdmin/.vs
/Web/bin
/Web/obj/Debug
